.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  all: unset;
  cursor: pointer;
  font-weight: 300;
  &_active {
    font-weight: 500;
  }
}
