@use "../../../variables.scss" as variables;
@use "sass:map";
.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  all: unset;
  cursor: pointer;
  font-weight: 300;
  &_active {
    font-weight: 500;
    color: map.get(map.get(variables.$themes, dark), text-hovered);
  }
  &:hover {
    color: map.get(map.get(variables.$themes, dark), text-hovered);
  }
}
