.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  &__company {
    width: fit-content;
    height: 30px;
  }
  &__dates {
    width: fit-content;
    height: 30px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;

  &__title {
    width: fit-content;
    font-weight: 700;
  }
  &__description {
    width: fit-content;
  }
  &__descriptionItem {
    width: fit-content;
  }
}
