@use "../../../variables.scss" as *;

.container {
  all: unset;
  width: 50px;
  height: 50px;
  color: $BASE_GREY;
  border: 3px solid $BASE_GREY;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    color: $BASE_LIGHT;
    border: 3px solid $BASE_LIGHT;
  }
  &_disabled {
    cursor: not-allowed;
    border-color: rgba($BASE_GREY, 0.5);
    color: rgba($BASE_GREY, 0.5);
    &:hover {
      color: rgba($BASE_LIGHT, 0.5);
      border-color: rgba($BASE_LIGHT, 0.5);
    }
  }
}
