.container {
  width: 100%;
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 20px;
}
