@use "../../../variables.scss" as *;

.container {
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 8px;
  z-index: 10;
  transform: rotate(var(--rotate, 0deg));
  &:hover {
    .dot {
      background-color: $BASE_ACCENT;
    }
  }
}

.dot {
  width: 6px;
  height: 6px;
  background-color: rgba($BASE_ACCENT, 0.2);
  border-radius: 50%;
}
