$themes: (
  light: (
    bg-color: #ffffff,
    text-color: #333333,
    accent-color: #3498db,
  ),
  dark: (
    bg-color: rgba(15, 23, 42, 1),
    text-color: rgba(255, 255, 25, 0.87),
    accent-color: #5dade2,
  ),
);
